<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dachstein.dashboard" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Dachstein Dashboard</name>
    <description>
        Get notifications if piste status changes.
    </description>
    <author>
        Gernot Feichter
    </author>
    <content src="index.html" />
    <access origin="https://www.derdachstein.at/*" />
    <access origin="https://kit.fontawesome.com/*" />
    <access origin="https://ka-f.fontawesome.com/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <!-- <allow-intent href="market:*" /> -->
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
